{{ define "main" }}
<div id="search-box"><!-- SearchBox widget will appear here --></div>

<div id="hits" class="my-4">
    <!-- Hits widget will appear here -->
</div>

<div id="pagination">
    <!-- Pagination widget will appear here -->
</div>
{{ end }}

{{ define "addstyles" }}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css">
<style>
    mark {
        padding: 0;
    }
</style>
{{ end }}

{{ define "addscripts" }}
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4"></script>
<script src="js/search.js"></script>
{{ end }}
