<script>window.__assets_js_src={{- "assets/js/" | relURL -}}</script>

<script src='{{ print "/assets/js/" .Site.Data.assets.main.js | relURL }}'></script>

{{- range .Site.Params.assets.customJS -}}
  <script src='{{ . | relURL }}'></script>
{{- end -}}

{{ partial "footer/mathjax" . }}
{{- partial "footer/katex" . -}}
{{- partial "footer/mermaid" . -}}

{{ partial "footer/extra" . }}

<!--<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us7.list-manage.com","uuid":"a9a621a2899a14a9105e217ce","lid":"e35bc95471","uniqueMethods":true}) })</script> -->

<script async data-uid="571c76af42" src="https://unique-mover-3171.ck.page/571c76af42/index.js"></script>

