<!DOCTYPE html>
<html lang='{{ .Site.Language.Lang }}'>

{{- partial "head/head" . -}}
  <script async data-uid="321bb5042d" src="https://ttunguz.ck.page/321bb5042d/index.js"></script>

<body class='{{ partial "header/bodyClasses" . }}'>
is this working?
  <div class='site'>

    {{- partial "sidebar/sidebar" . -}}

    <div class='main'>
            <a data-formkit-toggle="321bb5042d" href="https://ttunguz.ck.page/321bb5042d">Your link text</a>
      {{- partial "nav/menus/main" . -}}

      {{- $headerWidgets := .Site.Params.widgets.header -}}
      <div class='header-widgets'>
        <div class='container'>
          {{- partial "extras/widget_area" ( dict "Widgets" $headerWidgets "Scope" . ) -}}
        </div>
      </div>

      <main id='content'>
