{{ if not ( eq .Section "page" ) }}
<footer class='entry-footer'>
  <div class='container sep-before'>
  {{- if and ( eq .Site.Params.settings.showLastmod true ) ( not ( eq .Lastmod .Date ) ) -}}
    {{- $dateFormat := ( .Site.Params.settings.dateFormat | default "2006, Jan 02" ) -}}
    <div class='last-updated'>
      {{- partial "svg/icons" "edit" -}}
      <span class='screen-reader-text'>{{ i18n "lastUpdated" }}: </span>
      <time class='entry-date' datetime='{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}'>
        {{- .Lastmod.Format $dateFormat -}}
      </time>
    </div>
  {{- end -}}
  <div id="mc_embed_signup">
      <form action="https://tomtunguz.us7.list-manage.com/subscribe/post?u=a9a621a2899a14a9105e217ce&amp;id=e35bc95471" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <p>Sign up to receive these posts by email with  25k+ others</p>
      <div class="mc-field-group">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a9a621a2899a14a9105e217ce_e35bc95471" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
  </div>
</footer>
{{ end }}
